<div class="container">
    <div class="header-content">
        <div class="header-top-row">
            <div class="header-top-left">
                <div class="header-logo">
                    {% include 'header-logo' %}
                </div>
            </div>
            <div class="header-top-center">
                <div class="navbar">
                    {% include 'mobile-navigation' %}
                    {% include 'header-navigation' %}
                </div>
            </div>
            <div class="header-top-col">
                <div class="header-custom-text">
                    {{- section.settings.header_support_time -}}
                </div>
            </div>
            <div class="header-top-right">
                <div class="header-links-wrap">
                    <div class="header-links header-links-1">
                        {% include 'header-languages' %}
                        {% include 'currency-picker' %}
                    </div>
                    <div class="header-links">
                        <div class="header-links-2">
                            {% include 'wishlist-header' %}
                            {% include 'header-login-form' %}
                            {% include 'header-cart' %}
                        </div>
                        {% include 'header-search-collapsed' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>