{% if section.settings.header_search %}
    <!-- Header Search -->
    <div class="header-search js-header-search">
        <form  action="/search">
            <input name="q" class="search-input" placeholder="{{ 'general.theme.search_here' | t }}" type="text" value="{{ search.terms | escape }}">
            <input class="search-submit" type="submit" value="">
            <span class="search-icon"><i class="icon icon-magnify"></i></span>
        </form>
    </div>
    <!-- /Header Search -->
{% endif %}