<h4 class="instagram-title">{{ settings.insta_title }}</h4>
<div id="instafeed" class="instagram-feed js-instagram-feed" data-instafeed='{"limit": "{{ limit }}", "accessToken": "{{ settings.insta_token }}", "sortBy": "{{ settings.insta_sort }}"}'></div>