{% unless settings.catalog_mode %}
{% if settings.wishlist %}
<!-- Header WishList -->
<div class="header-link">
    <a href="#" data-toggle="modal" data-target="#modalLogin"><i class="icon icon-heart-1"></i></a>
</div>
<!-- Header WishList -->
{% endif %}
{% endunless %}