{% if settings.wishlist %}
  <a href="#" data-toggle="modal" data-target="#modalLogin" title="{{ 'general.theme.add_to_wishlist' | t }}" class="wishlist" tabindex="0"> <i class="icon icon-heart-1"></i></a>
{% endif %}