.mega-menu__items {
  flex-wrap: wrap;
  row-gap: 3rem;
  justify-content: center;
}

.mega-menu__item {
  padding: 0px !important;
  height: auto !important;
  min-height: auto !important;
  flex-direction: row;
  align-items: center;
  min-width: auto !important;
  width: auto;
  justify-content: center;
}

.mega-menu__item-heading.h3 {
  color: #000 !important;
  margin-right: 20px;
  font-size: 19px;
  letter-spacing: normal;
}

.mega-menu__item-button-wrapper {
  margin: 0px;
}

.header__shop-wrapper {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.address-actions .remove-address-btn {
  display: flex;
}

.address-actions .remove-address-btn svg {
  width: 14px;
  height: 14px;
}

.address-actions .remove-address-btn svg path {
  fill: red;
}

.address-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 185px;
  flex-direction: column;
  row-gap: 8px;
}
