<div class="block offset-top-0">
    <div class="container">
        <div class="text-404-wrap">
            <div class="text-404">
                <div class="text-404-1">404</div>
                <div class="text-404-2">{{ 'general.theme.title_404' | t }}</div>
            </div>
            <div class="cleafix"></div>
            <div class="text-404-btn"><a href="#" class="btn btn-lg btn-alt"  onclick="history.go(-1);return false;">{{ 'general.theme.return_back' | t }}</a></div>
        </div>
    </div>
</div>