<div class="banner-bg banner-relative">
  <img class="mobile-hide" src="https://cdn.shopify.com/s/files/1/0447/4047/7095/files/Mask_Group_110_2x_a5b0eac7-bf5a-4005-8321-9e73df493135.png?v=1748576707" />
  <img class="desktop-hide" src="https://cdn.shopify.com/s/files/1/0447/4047/7095/files/Mask_Group_111_2x_b3eb5e15-515f-4b98-b4c8-6157092a9068.png?v=1748578352" />
  <div class="banner-overlay-text mobile-hide">
    <h2>WE'VE TEAMED UP<br></br>WITH GHOST GIVER</h2>
    <p>Make someone s day by<br></br>sending them a Velvey...anonymously.</p>
  </div>
</div>

<div class="container page-wrapper">
  <div class="back-btn-container">
    <a class="back-btn" href="/pages/featured"><svg xmlns="http://www.w3.org/2000/svg" width="16.613" height="28.984" viewBox="0 0 16.613 28.984">
      <path id="Path_68601" data-name="Path 68601" d="M-836.06-17056.736l-12.371,12.371,12.371,12.371" transform="translate(850.552 17058.857)" fill="none" stroke="#1a3d5c" stroke-linecap="round" stroke-width="3"/>
    </svg> Back</a>
  </div>

  <div class="top-mobile-text desktop-hide">
    <h2>WE'VE TEAMED UP<br></br>WITH GHOST GIVER<</h2>
    <p>Make someone s day by<br></br>sending them a Velvey...anonymously.</p>
  </div>

  <div class="image-container">
    <img src="https://cdn.shopify.com/s/files/1/0447/4047/7095/files/Group_46185_2x_d731d51e-8bab-4894-9819-017591c21d06.png?v=1748579073">
    <img src="https://cdn.shopify.com/s/files/1/0447/4047/7095/files/2x.png?v=1748579077">
    <img src="https://cdn.shopify.com/s/files/1/0447/4047/7095/files/Group_46184_2x_f233a7fc-959c-40fb-a42c-66509b35b98c.png?v=1748579453">
  </div>

  <div class="text-content">
    <p>
      We’re thrilled to partner with Ghost Giver—the platform that turns anonymous gifting into a magical act of kindness. Now, with Velvey + Ghost Giver, you can send a thoughtfully curated Velvey gift completely anonymously. Whether you’re brightening someone’s day, saying thank you, or just spreading a little surprise joy, Ghost Giver makes it easy to gift without revealing your identity.<br>
      </br><strong>Here’s how it works:</strong> Simply press the View Products button below to be taken to the
GhostGiver.com Gifts page—where you can choose from a variety of Ghost Giver-branded Velvey
options. After checkout you choose to receive a GOT IT confirmation and create an anonymous
message for your recipient. When they receive your gift, it will come with a Ghost Giver + Velvey card
indicating that they got GHOSTED...the good way. No names, no pressure, just good vibes.
    </p>
  </div>

  <a href="https://ghostgiver.com/pages/ways-to-ghostgive" class="custom-get-started ghost-giver-btn" target="_blank">View Products</a>

        <img class="ghost-icon" src="https://cdn.shopify.com/s/files/1/0447/4047/7095/files/Group_46179_2x_543eb544-d9ec-4840-b0bd-8036b144b498.png?v=1748580294">
    
</div>

<style>

  .ghost-icon {
    width: 100%;
    max-width: 200px;
    margin: auto;
    display: block;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  a.custom-get-started {
    font-family: 'Montserrat', font-family;
    width: 362px;
    display: block;
    padding: 20px 0px;
    text-align: center;
    margin: auto;
    margin-top: 5rem;
    color: #fff;
    background-color: #AB5ED5;
    border-radius: 14px;
    font-weight: bold;
    font-size: 18px;
    transition: all 0.3ms ease-in-out;
  }

  a.custom-get-started:hover {
    background-color: #9636ca;
    text-decoration: none;
  }
  
  .page-wrapper {
    max-width: 1398px;
  }
  
  .back-btn {
    font-size: 24px;
    font-weight: 500;
  }

  .back-btn-container {
    margin-top: 57px;
  }

  .back-btn-container svg {
    position: relative;
    top: 6px;
  }
  
  .banner-bg {
    height: 350px;
    position: relative;
    max-width: 1920px;
    margin: auto;
  }

  .banner-bg img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 0;
    min-width: 0;
    margin: auto;
    max-height: unset;
    height: 100%;
    width: 100%;
  }

  .banner-overlay-text {
    z-index: 13;
    position: absolute;
    top: 120px;
    left: 15%;
    margin: auto;
  }

  .top-mobile-text h2,
  .banner-overlay-text h2 {
    text-align: center;
    /* font: normal normal 900 42px/51px Montserrat; */
    font-family: 'Montserrat', font-family;
    font-weight: 900;
    letter-spacing: 0px;
    color: #1A3D5C;
    line-height: 25px;
    font-size: 42px;
  }

.top-mobile-text p,
  .banner-overlay-text p {
    font-family: 'Montserrat', font-family;
    font-weight: normal;
    color: #AB5ED5;
    font-size: 31px;
    text-align: center;
    line-height: 18px;
  }

   .desktop-hide {
      display: none;
   }

  .image-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
  }

  .image-container img {
    max-width: 600px;
    height: auto;
  }

  .image-container img:nth-child(2) {
    max-width: 58px;
  }

  .text-content {
    /* margin-top: 5rem; */
    margin-top: 115px;
  }

  .text-content p {
    font-size: 25px;
    font-family: 'Montserrat', font-family;
    font-weight: 600;
    color: #1A3D5C;
    line-height: 35px;
  }

  @media only screen and (max-width: 1280px) {
    .banner-overlay-text {
      left: 5%;
    }

    .image-container img {
      max-width: 400px;
      height: auto;
    } 

    .image-container {
      justify-content: center;
      align-items: center;
      gap: 3rem;
    }

    .text-content {
      margin-top: 65px;
    }

    .text-content p {
      font-size: 18px;
    }
  }

  @media only screen and (max-width: 1080px) {
    .top-mobile-text h2,
    .banner-overlay-text h2 {
      font-size: 35px;
      line-height: 18px;
    }

    .top-mobile-text p,
    .banner-overlay-text p {
      font-size: 22px;
      line-height: 14px;
    }

    .banner-overlay-text {
      left: 8%;
    }
  }

  @media only screen and (max-width: 980px) {
    .image-container {
      flex-direction: column;
      gap: 1rem;
    }

    body .container .page-wrapper {
      padding-left: 40px !important;
      padding-right: 40px !important;
    }

    .text-content p {
      padding: 0px 40px;
    }

    .back-btn {
      font-size: 20px;
    }

    .back-btn-container svg {
          position: relative;
    top: 3px;
    height: 20px;
    }
  }

  @media only screen and (max-width: 768px) {
    .mobile-hide {
      display: none;
    }
    .desktop-hide {
      display: block;
    }

    .top-mobile-text h2 {
      font-size: 24px;
      line-height: 14px;
    }

    .top-mobile-text p {
      font-size: 18px;
    }

    .top-mobile-text {
      margin: 2rem 0;
    }
  }

   @media only screen and (max-width: 550px) {
       .image-container img {
        max-width: 300px;
        height: auto;
      }
   }
</style>

