{{ 'messages_styles.css' | asset_url | stylesheet_tag }}
<img class="banner-messages" src="https://cdn.shopify.com/s/files/1/0447/4047/7095/files/banner_messages.jpg?v=1608299572">
<div class="bg-messages">
   <div class="container">
      <div class="container-messages">
         <div class="btn-messages">
            <a href="javascript:void(0);" class="btn-m active">Create Message</a>
            <a href="javascript:void(0);" class="btn-m">Retrieve Message</a>
         </div>
            <div class="desc-messages">
               <p>Included with your Velvey purchase is the option to include a personalized message for your intended recipient. 
                  To set up your message, simply choose which option you prefer.
               </p>
            </div>
            <div class="info-messages">
               <p><strong>NOTE:</strong> Audio and video messages require a smartphone.<br> 
                  Please go to message.velvey.com and select <br>
                  CREATE MESSAGE then enter your code.
               </p>
            </div>
            <div class="input-messages">
               <input class="form-control input-1" type="text" placeholder="5555-555-5555">
            </div>
            <div class="row row-types message-type">
               <h1>SELECT A MESSAGE TYPE</h1>
               <div class="col-xs-4">
                  <img src="https://cdn.shopify.com/s/files/1/0447/4047/7095/files/icon1.png?v=1608310927">
                  <span>Written Message</span>
               </div>
               <div class="col-xs-4">
                  <img src="https://cdn.shopify.com/s/files/1/0447/4047/7095/files/icon2.png?v=1608310927">
                  <span>Audio Message</span>
               </div>
               <div class="col-xs-4">
                  <img src="https://cdn.shopify.com/s/files/1/0447/4047/7095/files/icon3.png?v=1608310927">
                  <span>Video Message</span>
               </div>
            </div>
         <div class="row row-types footer-messages">
            <div class="col-md-12">
               <div class="contact-info">
                  <p> If you experience difficulty setting up your message, please refer <br>
                     to our FAQs or email us at <a href="mailto:service@velvey.com">service@velvey.com</a> 
                  </p>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<img class="banner-messages" src="https://cdn.shopify.com/s/files/1/0447/4047/7095/files/banner_messages.jpg?v=1608299572">
<div class="bg-messages">
   <div class="container">
      <div class="container-messages">
         <div class="btn-messages">
            <a href="javascript:void(0);" class="btn-m active">Create Message</a>
            <a href="javascript:void(0);" class="btn-m">Retrieve Message</a>
         </div>
            <div class="row-types">
               <img src="https://cdn.shopify.com/s/files/1/0447/4047/7095/files/icon1.png?v=1608310927">
               <div class="form-content">
                  <h2>TYPE YOUR MESSAGE</h2>
                  <textarea class="form-control" rows="8"></textarea>
                  <div class="text-right btn-inner">
                     <button class="btn-form">Continue</button>
                  </div>
               </div>
            </div>
         <div class="row row-types footer-messages">
            <div class="col-md-12">
               <div class="contact-info">
                  <p> If you experience difficulty setting up your message, please refer <br>
                     to our FAQs or email us at <a href="mailto:service@velvey.com">service@velvey.com</a> 
                  </p>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<img class="banner-messages" src="https://cdn.shopify.com/s/files/1/0447/4047/7095/files/banner_messages.jpg?v=1608299572">
<div class="bg-messages">
   <div class="container">
      <div class="container-messages">
         <div class="btn-messages">
            <a href="javascript:void(0);" class="btn-m active">Create Message</a>
            <a href="javascript:void(0);" class="btn-m">Retrieve Message</a>
         </div>
            <div class="row-types">
               <img src="https://cdn.shopify.com/s/files/1/0447/4047/7095/files/icon2.png?v=1608310927">
               <div class="form-content">
                  <h2>Record Your Audio Message</h2>
                  <div class="text-center">
                     <button class="btn-form audio-input">Upload</button>
                     <button class="btn-form audio-input">Record</button>
                  </div>
               </div>
            </div>
         <div class="row row-types footer-messages">
            <div class="col-md-12">
               <div class="contact-info">
                  <p> If you experience difficulty setting up your message, please refer <br>
                     to our FAQs or email us at <a href="mailto:service@velvey.com">service@velvey.com</a> 
                  </p>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<img class="banner-messages" src="https://cdn.shopify.com/s/files/1/0447/4047/7095/files/banner_messages.jpg?v=1608299572">
<div class="bg-messages">
   <div class="container">
      <div class="container-messages">
         <div class="btn-messages">
            <a href="javascript:void(0);" class="btn-m active">Create Message</a>
            <a href="javascript:void(0);" class="btn-m">Retrieve Message</a>
         </div>
            <div class="row-types">
               <img src="https://cdn.shopify.com/s/files/1/0447/4047/7095/files/icon2.png?v=1608310927">
               <div class="form-content">
                  <h2>Record Your Audio Message</h2>
                  <div class="text-center">
                     <button class="btn-form audio-input">Upload</button>
                     <button class="btn-form audio-input">Record</button>
                  </div>
                  <div class="text-center">
                     <div class="audio-area">
                        <p>AudioMessageFiIeDispIayed HereWhenUpIoadedOrRecorded.mp4</p>
                     </div>
                     <div class="text-right btn-inner">
                        <button class="btn-form audio-input no-border">Continue</button>
                     </div>
                  </div>
               </div>
            </div>
         <div class="row row-types footer-messages">
            <div class="col-md-12">
               <div class="contact-info">
                  <p> If you experience difficulty setting up your message, please refer <br>
                     to our FAQs or email us at <a href="mailto:service@velvey.com">service@velvey.com</a> 
                  </p>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<img class="banner-messages" src="https://cdn.shopify.com/s/files/1/0447/4047/7095/files/banner_messages.jpg?v=1608299572">
<div class="bg-messages">
   <div class="container">
      <div class="container-messages">
         <div class="btn-messages">
            <a href="javascript:void(0);" class="btn-m active">Create Message</a>
            <a href="javascript:void(0);" class="btn-m">Retrieve Message</a>
         </div>
            <div class="row-types">
               <img src="https://cdn.shopify.com/s/files/1/0447/4047/7095/files/icon3.png?v=1608310927">
               <div class="form-content">
                  <h2>Record Your Video Message</h2>
                  <div class="text-center">
                     <button class="btn-form audio-input">Upload</button>
                     <button class="btn-form audio-input">Record</button>
                  </div>
               </div>
            </div>
         <div class="row row-types footer-messages">
            <div class="col-md-12">
               <div class="contact-info">
                  <p> If you experience difficulty setting up your message, please refer <br>
                     to our FAQs or email us at <a href="mailto:service@velvey.com">service@velvey.com</a> 
                  </p>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<img class="banner-messages" src="https://cdn.shopify.com/s/files/1/0447/4047/7095/files/banner_messages.jpg?v=1608299572">
<div class="bg-messages">
   <div class="container">
      <div class="container-messages">
         <div class="btn-messages">
            <a href="javascript:void(0);" class="btn-m active">Create Message</a>
            <a href="javascript:void(0);" class="btn-m">Retrieve Message</a>
         </div>
            <div class="row-types">
               <img src="https://cdn.shopify.com/s/files/1/0447/4047/7095/files/icon3.png?v=1608310927">
               <div class="form-content">
                  <h2>Record Your Video Message</h2>
                  <div class="text-center">
                     <button class="btn-form audio-input">Upload</button>
                     <button class="btn-form audio-input">Record</button>
                  </div>
                  <div class="text-center">
                     <div class="audio-area">
                        <p>VideoMessageFiIeDispIayed HereWhenUpIoadedOrRecorded.mov</p>
                     </div>
                     <div class="text-right btn-inner">
                        <button class="btn-form audio-input no-border">Continue</button>
                     </div>
                  </div>
               </div>
            </div>
         <div class="row row-types footer-messages">
            <div class="col-md-12">
               <div class="contact-info">
                  <p> If you experience difficulty setting up your message, please refer <br>
                     to our FAQs or email us at <a href="mailto:service@velvey.com">service@velvey.com</a> 
                  </p>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<img class="banner-messages" src="https://cdn.shopify.com/s/files/1/0447/4047/7095/files/banner_messages.jpg?v=1608299572">
<div class="bg-messages">
   <div class="container">
      <div class="container-messages">
         <div class="btn-messages">
            <a href="javascript:void(0);" class="btn-m active">Create Message</a>
            <a href="javascript:void(0);" class="btn-m">Retrieve Message</a>
         </div>
            <div class="row-types">
               <img src="https://cdn.shopify.com/s/files/1/0447/4047/7095/files/icon_check.png?v=1608313036">
               <div>
                  <h2>Want a "Got It"?</h2>
                  <div class="info">
                     <p>When the recipient of your Velvey retrieves their message, we ask them if they'd be ok with us letting you know they received it. <br>
                        If they answer YES, we'll send you a text or email (or both). <br>
                        We also give them the option to say THANK YOU. If they do, we'll send that to you too! 
                     </p>
                  </div>
                  <form class="got-form">
                     <div class="col-md-6">
                        <div class="form-group row">
                           <label class="col-sm-4 col-form-label">Cell Phone:</label>
                           <div class="col-sm-8">
                              <input type="text" class="form-control input-2" placeholder="ex: xxx-xxx-xxxx">
                           </div>
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="form-group row">
                           <label class="col-sm-3 col-form-label">Email:</label>
                           <div class="col-sm-9">
                              <input type="email" class="form-control input-2"  placeholder="JhonSmith@yahoo.com">
                           </div>
                        </div>
                     </div>
                     <div class="col-md-12 text-right">
                        <button class="btn-form audio-input no-border">Continue</button>
                     </div>
                  </form>
               </div>
            </div>
         <div class="row row-types footer-messages">
            <div class="col-md-12">
               <div class="contact-info">
                  <p> If you experience difficulty setting up your message, please refer <br>
                     to our FAQs or email us at <a href="mailto:service@velvey.com">service@velvey.com</a> 
                  </p>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<img class="banner-messages" src="https://cdn.shopify.com/s/files/1/0447/4047/7095/files/banner_messages.jpg?v=1608299572">
<div class="bg-messages">
   <div class="container">
      <div class="container-messages">
            <div class="row-types">
               <img src="https://cdn.shopify.com/s/files/1/0447/4047/7095/files/heart.png?v=1608317099">
               <div>
                 <br>
                  <h2>Thank You!</h2>
                  <div class="info">
                     <p>Thanks again for your Velvey purchase. We' re confident your recipient Will love it„.as well as your personal message. <br>
Thanks for being a GIVER. 
                     </p>
                  </div>
               </div>
            </div>
      </div>
   </div>
</div>