<style>
  
  .vennon-icon{
  padding:2.5px 0;
  }
  .banner-relative{
  
  position:relative;
  }
  
  .banner-overlay-text{
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 3;
    position: absolute;
  }
  
  
  
  .bs-content{
    display: table;
    padding: 0.25em 0.4em;
    font-weight: 700;
    background-color: rgb(255, 255, 255);
    color: rgb(47, 47, 47);
    animation-delay: 1000ms;
    -ms-flex-item-align: start;
    align-self: flex-start;
    font-size: .55em;
    line-height: 1em;

  }
  .bs-content span{
  color: #e4aa44
  }
  .left-banner {
    -ms-flex-align: start !important;
    align-items: flex-start !important;
    justify-content: flex-end !important;
}
  
    .right-banner {
    -ms-flex-align: end !important;
    align-items: flex-end !important;
    justify-content: flex-end !important;
}
  
  .bs-vert{
    font-size:100px;
  }
  
  .bs-vert{
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}
 
  .banner-overlay-text .container {
      padding: 15px;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
        padding-bottom: 40px;
  }
    @media (min-width: 1500px){
.banner-overlay-text .container {
    padding-left: 0!important;
    padding-right: 0!important;
}
  }
     @media (min-width: 1280px){
     .banner-overlay-text .container {
    width: 1250px;
}
}
  
 @media screen and (max-width: 1199px){
.bs-vert {
    font-size: 80px;
}
 }
  
  @media screen and (max-width: 991px){
.bs-vert {
    font-size: 60px;
}
  }
  
  
  @media (max-width: 1499px) and (min-width: 992px){
.banner-overlay-text .container {
    max-width: 1250px!important;
    padding-left: 55px!important;
    padding-right: 55px!important;
  
}
  }
  
  
  
  @media screen and (max-width: 767px){
.bs-vert {
    font-size: 50px;
}
  }
  
  @media screen and (max-width: 768px) {

    
      .banner-overlay-text .container {
            padding-bottom: 20px;
      }
    
    
}
  
  @media screen and (max-width: 490px){
.bs-vert {
    font-size: 40px;
}
  }
</style>

<div class="banner-bg banner-relative">
    <img src="https://cdn.shopify.com/s/files/1/0447/4047/7095/files/give_a_velvey_to_a_teacher.jpg?v=1632724418" />
         <div class="banner-overlay-text">
      
              <div class="container right-banner">
              
 
                                    <div class="bs-vert">
                                                <div class="bs-content"><span>WE <i class="fa fa-heart"></i></span> TEACHERS</div>
                                        
                    </div>
          
                
                
                
                    </div>  
                               </div>
       
</div>
<div class="bg-story">
    <div class="container">
        <div class="story-content">
            <h3 class="text-center h-big">Give a Velvey to a Teacher</h3>
            <p class="big-info">
                Here at Velvey, we love teachers. The amazing men and women who rise daily to the challenge of inspiring, mentoring and enlightening our kids. lt's more than a job. lt's a mission to change lives. lt's also one of the most demanding
                jobs on the planet—to do more, achieve more, and dream bigger on less.
            </p>

            <div class="row item-banner">
                <div class="col-md-12"></div>

                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <p style="font-size: 14px; line-height: 1.5; margin-bottom:20px;">
                                And still, thousands of teachers show up every day and in every possible classroom condition to make sure their students feel valued, seen, heard, and understood. They show up to make sure that the next
                                generation is empowered with both an education and, more importantly, with hope for the future. That's a pretty tall order. We're just here to say thank you—to a favorite English teacher... to the math
                                teacher who never gave up on you... to the drama teacher who saw your inner star... or the coach who taught you about the game of life. Whoever they are, let us help you say thanks.
                            </p>
                        </div>

                        <div class="col-md-6">
                            <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/0447/4047/7095/files/velvey-v3-20a.jpg?v=1628844904" />
                        </div>
                    </div>
                </div>
            </div>
          
            <img  class="img-responsive" src="https://cdn.shopify.com/s/files/1/0447/4047/7095/files/velvey-v3-18b_71f4c699-57b5-4a87-a98b-20f25db39e10.png?v=1628843315">
            <div class="row item-banner">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-8">
                            <h3 style="text-align: center;">
                                <br />

                                <br />
                                <p class="d-big">
                                    KNOW A TEACHER YOU <br />
                                    WANT TO THANK?.
                                </p>
                                <p class="s-big">Check out all the ways we can help you make that happen.</p>
                            </h3>
                        </div>

                        <div class="col-md-4 ">
                           <br />

                                <br />
                            <img class="img-responsive" width="200" src="https://cdn.shopify.com/s/files/1/0447/4047/7095/files/velvey-v3-20b.jpg?v=1628844904" />
                        </div>
                    </div>
                </div>
            </div>
          
              <div class="row item-banner">
                <div class="col-md-12 text-left">
                    <div class="row">
                        <div class="col-md-8">
                          <p>  <strong>1. Send a Velvey to a teacher you know and love.</strong> This one's easy. 
Just pick your favorite teacher (or two!) and send them a 
Velvey—including a personalized message from you.
                        
                          </p>
                        </div>

                        <div class="col-md-4 ">
                    <a href="/collections/everyday-picks" class="btn-velvey">
                                    <img src="https://cdn.shopify.com/s/files/1/0447/4047/7095/files/icon_vel.png?v=1628848389">
                                    <span class="text-btn">
                                        Send  to a<br>
                                        <span class="text-btn-bottom">Teacher</span>
                                    </span>
                                </a>    
        
                        </div>
                    </div>
                </div>
            </div>
          
                        <div class="row item-banner">
                <div class="col-md-12 text-left">
                    <div class="row">
                        <div class="col-md-8">
                          <p>  <strong>2. Let us send a Velvey to a teacher anonymously.</strong> Love teachers, 
but you're not sure who you want to thank? Leave that to us! 
We'll choose a teacher to receive your gift and message. If they choose to
send a thank you
message, it will be sent
to you.
                          </p>
                        </div>

                        <div class="col-md-4 ">
                    <a href="#" class="btn-velvey">
                                     <img src="https://cdn.shopify.com/s/files/1/0447/4047/7095/files/icon_vel.png?v=1628848389">
                                    <span class="text-btn">
                                        Send<br>
                                        <span class="text-btn-bottom">Anonymously</span>
                                    </span>
                                </a>    
        
                        </div>
                    </div>
                </div>
            </div>
          
          
                        <div class="row item-banner">
                <div class="col-md-12 text-left">
                    <div class="row">
                        <div class="col-md-8">
                          <p>  <strong>3. Nominate a teacher for a #SuperVeIvey.</strong> Super Velveys include 
gifts and prizes for those extra-miler teachers. (Think day-spa 
trips, airfare, cash prizes) 
                        
                          </p>
                        </div>

                        <div class="col-md-4 ">
                    <a href="/pages/nominate-a-teacher" class="btn-velvey">
                                    <img src="https://cdn.shopify.com/s/files/1/0447/4047/7095/files/icon_nom.png?v=1628848546">
                                    <span class="text-btn">
                                        Nominate<br>
                                        <span class="text-btn-bottom">a Teacher</span>
                                    </span>
                                </a>    
        
                        </div>
                    </div>
                </div>
            </div>
          
                        <div class="row item-banner">
                <div class="col-md-12 text-left">
                    <div class="row">
                        <div class="col-md-8">
                          <p>  <strong>4. Donate cash through Venmo.</strong> Your donation will be used to gift
Velveys to teachers at entire
schools – which I guess you could
say, is our own way of celebrating
Teacher Appreciation Day. Please
send Venmo donations to
@velveyforteachers                      
                          </p>
                        </div>

                        <div class="col-md-4 ">
                    <a href="#" class="btn-velvey">
                                    <img class="vennon-icon" src="https://cdn.shopify.com/s/files/1/0447/4047/7095/files/icon_donate.png?v=1628848546">
                                    <span class="text-btn" style="top:2px">
                                        Venmo<br>
                                        <span class="text-btn-bottom">Donation</span>
                                    </span>
                                </a>    
        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<style>
  
  .btn-velvey img {
    max-width:100%;
    float: left;
    margin-right: 5px;
    width: 30px;
}
  
  .btn-velvey .text-btn {
    font-size: 13px;
    float: right;
    text-align: left;
    font-weight: 600 !important;
    min-width: 85px;
    line-height: 1.2;
    position: relative;
    top: 3px;
}
    .btn-velvey{
      margin-top: 10px;
    display: inline-block;
    max-width: 100%;
    background: #eea822;
    color: #fff !important;
    padding: 8px 20px;
    border-radius: 18px;
    text-align: left;
    text-transform: inherit;
    text-decoration: none !important;
    text-align: center;
}
  
  .s-big{
    font-size:16px;
   font-weight:500;
        line-height: 1;
  }
  .d-big{
  font-size:26px;
  color:#eea822 !important;
   font-weight:900;
        line-height: 1;
  }
  
  .big-info{
  
    color: #E4AA43 !important;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 30px;
  } 
  .img-responsive{
  margin:0 auto;
  
  }
  .italic-big{
 font-family: 'MonteCarlo', cursive;
    font-size: 40px;
    color: #db8f16;
    line-height: 1;
    text-align: center;
    font-weight: 400;
  }
  .item-banner{

        margin-bottom: 30px;
  }
  .nopadding{
  padding:0 !important;
  }
  .h-big{
  font-size: 40px;
    font-weight:500;
  color:#E4AA43;
    line-height:1;
    margin-bottom:25px;
  } 
  .banner-bg img{
  display:block;
    margin:0 auto;
    max-width:100%;
  }
  
  .bg-story{
  background: url(https://cdn.shopify.com/s/files/1/0447/4047/7095/files/GOLD_GRADIENT.jpg?v=1598557572);
    background-repeat: no-repeat;
        background-size: contain;
  }
  
  .story-content{
  display: block;
    max-width:750px;
    margin: 50px auto;
  }
  
  @media screen and (max-width: 768px) {
    .footer-logo{
  padding: 0 15px;
  }
    
    .col-md-8,.col-md-4,.col-md-12{
    padding: 0 30px!important;
    }
    .h-big{
            max-width: 260px;
    margin: 0 auto;
         margin-bottom:25px;
    }
    .big-info{
      font-size:19px;
        padding: 0px 25px;
    text-align: center;
    }
  .story-content{
  display: block;
    width: 100%;
  }
}
</style>