<style>
    .banner-relative {
        position: relative;
    }

    .banner-overlay-text {
        width: 100%;
        top: 0;
        left: 0;
        height: 100%;
        z-index: 3;
        position: absolute;
    }

    .bs-content {
        display: table;
        padding: 0.25em 0.4em;
        font-weight: 700;
        background-color: rgb(255, 255, 255);
        color: rgb(47, 47, 47);
        animation-delay: 1000ms;
        -ms-flex-item-align: start;
        align-self: flex-start;
        font-size: 0.55em;
        line-height: 1em;
    }
    .bs-content span {
        color: #e4aa44;
    }
    .left-banner {
        -ms-flex-align: start !important;
        align-items: flex-start !important;
        justify-content: flex-end !important;
    }

    .right-banner {
        -ms-flex-align: end !important;
        align-items: flex-end !important;
        justify-content: flex-end !important;
    }

    .bs-vert {
        font-size: 100px;
    }

    .bs-vert {
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .banner-overlay-text .container {
        padding: 15px;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: center;
        -ms-flex-direction: column;
        flex-direction: column;
        height: 100%;
        padding-bottom: 40px;
    }
    @media (min-width: 1500px) {
        .banner-overlay-text .container {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
    }
    @media (min-width: 1280px) {
        .banner-overlay-text .container {
            width: 1250px;
        }
    }
    @media screen and (max-width: 1199px) {
        .bs-vert {
            font-size: 80px;
        }
    }

    @media screen and (max-width: 991px) {
        .bs-vert {
            font-size: 60px;
        }
    }

    @media (max-width: 1499px) and (min-width: 992px) {
        .banner-overlay-text .container {
            max-width: 1250px !important;
            padding-left: 55px !important;
            padding-right: 55px !important;
        }
    }

    @media screen and (max-width: 767px) {
        .bs-vert {
            font-size: 50px;
        }
    }

    @media screen and (max-width: 768px) {
      .img-ct{
      max-width:250px;
      }
        .banner-overlay-text .container {
            padding-bottom: 20px;
        }
      

.col-md-8, .col-md-4, .col-md-12 {
    padding: 0 30px!important;
}
      
    }

    @media screen and (max-width: 490px) {
        .bs-vert {
            font-size: 40px;
        }
    }
</style>
<link href="https://fonts.googleapis.com/css2?family=MonteCarlo&display=swap" rel="stylesheet" />
<div class="banner-bg banner-relative">
    <img src="https://cdn.shopify.com/s/files/1/0447/4047/7095/files/about_us.jpg?v=1632724418" />

    <div class="banner-overlay-text">
        <div class="container right-banner">
            <div class="bs-vert">
                <div class="bs-content"><span>OUR</span> STORY</div>
            </div>
        </div>
    </div>
</div>
<div class="bg-story">
    <div class="container">
        <div class="story-content">
              <div class="row">
          <div class="col-md-12">
            <h3 class="text-center h-big">Hey, Givers!</h3>
            <p>
                <br />
                Thanks for stopping by. Here at Velvey, we're passionate about the art of giving. Whether it's a surprise to let someone know you think they're pretty cool, saying thanks to your awesome parents, or celebrating your best
                friend's 27th birthday (again), we've got a little "pouch of goodness" for every occasion.
            </p>
            <p>
                <br />
                We also understand that it's more than just the gift that counts; it's the unique piece of you that goes out with every give. Your personalized message will capture your recipient's attention and make your gift stand out. We
                don't think you'll mind our prices, either. Because we believe being thoughtful shouldn't break the bank. What matters is who you're connecting with and the connection you make.
            </p>
            <p>
                <br />
                We live and give by this simple creed:
            </p>
     
            <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/0447/4047/7095/files/Rectangle_15172_2x_016beaea-bf52-4b4d-a52e-6b284a04d870.png?v=1709622945" />

            <div class="row item-banner">

                <div class="">
                    <div class="row">
                        <div class="col-md-9 nopadding">
                            <h3 style="text-align: center;">
                                <br />

                              <p class="d-big"><span class="desktop">We make a living by what we get.</span><span class="mobile">We make a living<br>by what we get.</span></p>
                                <p class="d-big"><span class="desktop">We make a life by what we give.</span><span class="mobile">We make a life<br>by what we give.</span></p>
                            </h3>
                            <div style="text-align: center;">—Sir Winston Churchill</div>
                        </div>

                        <div class="col-md-3 nopadding">
                            <img class="img-responsive img-ct" width="200" src="https://cdn.shopify.com/s/files/1/0447/4047/7095/files/Featured-Velvey-I-Heart-You_2x_b368af87-a6cd-4543-915b-a80640f52301.png?v=1709623026" />
                        </div>
                    </div>
                </div>
            </div>
            <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/0447/4047/7095/files/Rectangle_15173_2x_39294a8d-0306-4972-bd73-cf78dfdbe3a9.png?v=1709623093" />

            <p style="text-align: left;">
                <br />
                Velvey friends, we're thrilled you've chosen to give with us. And hope you love the way we're helping you send "uniquely you" love, support, and care to
friends, family, and maybe
even a few total strangers.
            </p>
            <p style="text-align: left;">
                <br />
                Let's make someone's day together.
            </p>
            <br />
            <h3 class="italic-big">xoxo,</h3>
            <h3 class="italic-big">Team Velvey</h3>
          </div>
          </div>
        </div>
    </div>
</div>

<style>
    .img-responsive {
        margin: 0 auto;
    }
    .italic-big {
        font-family: "MonteCarlo", cursive;
        font-size: 40px;
        color: #db8f16;
        line-height: 1;
        text-align: center;
        font-weight: 400;
    }
    .d-big {
        font-size: 23px;
        font-weight: 500;
            line-height: 1.25;
    }
    .item-banner {
        max-width: 600px;
        margin: 0 auto;
    }
    .nopadding {
        padding: 0 !important;
    }
    .h-big {
        font-size: 40px;
        font-weight: 500;
        color: #e4aa43;
    }
    .banner-bg img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
    }

    .bg-story {
        background: url(https://cdn.shopify.com/s/files/1/0447/4047/7095/files/GOLD_GRADIENT.jpg?v=1598557572);
        background-repeat: no-repeat;
        background-size: contain;
    }

    .story-content {
        display: block;
        max-width: 670px;
        margin: 50px auto;
    }
  
  .mobile{
  display:none;
  }

    @media screen and (max-width: 768px) {
      
      .desktop{
      display:none;
      }
      
      .mobile{
      display:block;
      }
        .story-content {
            display: block;
            width: 100%;
        }
    }
</style>
