<style>
  .banner-relative{
  
  position:relative;
  }
  
  .pt-0{
  padding-top:20px !important;
  }
  p {
    line-height: 1.5 !important;;
}
  
  .banner-overlay-text{
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 3;
    position: absolute;
  }
  
  
  
  .bs-content{
    display: table;
    padding: 0.25em 0.4em;
    font-weight: 700;
    background-color: rgb(255, 255, 255);
    color: rgb(47, 47, 47);
    animation-delay: 1000ms;
    -ms-flex-item-align: start;
    align-self: flex-start;
    font-size: .55em;
    line-height: 1em;

  }
  .bs-content span{
  color: #e4aa44
  }
  .left-banner {
    -ms-flex-align: start !important;
    align-items: flex-start !important;
    justify-content: flex-end !important;
}
  
    .right-banner {
    -ms-flex-align: end !important;
    align-items: flex-end !important;
    justify-content: flex-end !important;
}
  
  .bs-vert{
    font-size:100px;
  }
  
  .bs-vert{
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}
 
  .banner-overlay-text .container {
      padding: 15px;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
        padding-bottom: 40px;
  }
  
  .img-responsive-ct{
    max-width: 185px;
    position: relative;
    top: -15px;
  }
  
    @media (min-width: 1500px){
.banner-overlay-text .container {
    padding-left: 0!important;
    padding-right: 0!important;
}
  }
   @media (min-width: 1280px){
     .banner-overlay-text .container {
    width: 1250px;
}
}
  
 @media screen and (max-width: 1199px){
.bs-vert {
    font-size: 80px;
}
 }
  
  @media screen and (max-width: 991px){
.bs-vert {
    font-size: 60px;
}
  }
  
  
  @media (max-width: 1499px) and (min-width: 992px){
.banner-overlay-text .container {
    max-width: 1250px!important;
    padding-left: 55px!important;
    padding-right: 55px!important;
  
}
  }
  
  
  
  @media screen and (max-width: 767px){
.bs-vert {
    font-size: 50px;
}
  }
  
  @media screen and (max-width: 768px) {

    
      .banner-overlay-text .container {
            padding-bottom: 20px;
      }
    
    
}
  
  @media screen and (max-width: 490px){
.bs-vert {
    font-size: 40px;
}
  }
</style>

<div class="banner-relative">
<img class="bg-main-works " src="https://cdn.shopify.com/s/files/1/0447/4047/7095/files/banner.jpg?v=1634055322">
  
     <div class="banner-overlay-text">
      
              <div class="container right-banner">
              
 
                                    <div class="bs-vert">
                                                <div class="bs-content"><span>HOW IT</span> WORKS</div>
                                        
                    </div>
          
                
                
                
                    </div>  
                               </div>
</div>
<div class="bg-works">
  <div class="container">
    <div class="bg-works-contain bg-works-contain-ct">
      <p><span class="big-letter">W</span>hen you send a Velvey, you're not only sending a gift, you're sending an experience 
with some extraordinary twists! Whoever gets your Velvey is going to LOVE it!</p>
      <p class="normal-letter">Ready to learn more? Keep scrolling. </p>
  </div>
          

    
    
</div>
    <div class="container">
<div class="row item-banner">
    <div class="col-md-12">
        <span class="step-bagde pt-0"><span class="step-circle">1</span></span>
        <span class="step-heading">PICK YOUR VELVEY</span>
        <p class="step-info">Whichever you choose, your Velvey always includes a card and personal message. You'll be sure to brlghten the day of whoever receives it!</p>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-xs-6 col-md-6 nopadding">
                <img class="img-responsive img-sec2" src="https://cdn.shopify.com/s/files/1/0447/4047/7095/files/p1_hiw.jpg?v=1634061917" />
            </div>
            <div class="col-xs-6 col-md-6 nopadding">
                <p><strong>Everyday Picks</strong>—Includes classic black, cobalt blue, ruby red, or gorgeous garnet pouches and your choice of yummy treat.</p>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="row">
            <div class="col-xs-6 nopadding">
                <img class="img-responsive img-responsive-ct img-sec2"  src="https://cdn.shopify.com/s/files/1/0447/4047/7095/files/p2_hiw.jpg?v=1634061917" />
            </div>
            <div class="col-xs-6 nopadding">
                <p><strong>Featured</strong>—Themed Velveys with a limited-edition treat for both special and "uniquely you" occasions.</p>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/0447/4047/7095/files/velvey-bg-line_bda63cd8-e638-4f50-a45e-e46627a83973.jpg?v=1628838623" />
    </div>
</div>

<div class="row item-banner">
    <div class="col-md-12">
        <span class="step-bagde"><span class="step-circle">2</span></span>
        <span class="step-heading">ADD A GIFT CARD</span>
        <p class="step-info">
           Sending a Velvey alone is
memorable, but why not spice it up a
little with a gift card? This optional
step lets you select your dollar
amount and allows the recipient to
choose their favorite merchant when
it s time to redeem. Because who
doesn't love getting EXACTLY what
they want?
        </p>
    </div>
    <div class="col-md-12">
        <div class="row">
            <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/0447/4047/7095/files/bg-gif.png?v=16288389808" width="300" style="top:-1px;margin-bottom: -15px; position: relative; z-index: 2; display: block;" />
        </div>

        <div class="col-md-12">
            <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/0447/4047/7095/files/velvey-bg-line_bda63cd8-e638-4f50-a45e-e46627a83973.jpg?v=1628838623" />
        </div>
    </div>
</div>
      
<div class="row item-banner">
    <div class="col-md-12">
        <span class="step-bagde"><span class="step-circle">3</span></span>
        <span class="step-heading">INCLUDE A MESSAGE</span>
        <p class="step-info">
Finally, we offer three fun digital
ways to personalize your message.
You can write a note, record an
audio message, or make a video.
Already have a fun video? You can
upload it. What better way to
 "personalize" than to add a piece of
yourself to your Velvey?
        </p>
    </div>
    <div class="col-md-12">
        <div class="row">
            <img style="margin-bottom:50px"  class="img-responsive" src="https://cdn.shopify.com/s/files/1/0447/4047/7095/files/bg-step3.png?v=1628839483" width="400" />
        </div>

        <div class="col-md-12">
            <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/0447/4047/7095/files/velvey-bg-line_bda63cd8-e638-4f50-a45e-e46627a83973.jpg?v=1628838623" />
        </div>
    </div>
</div>      
      
    <div class="row item-banner">
    <div class="col-md-12">
        <span class="step-bagde"><span class="step-circle">4</span></span>
        <span class="step-heading">WHAT YOUR RECIPIENT RECEIVES</span>
        <p class="step-info">
When your recipient receives their
Velvey, not only is it filled with their
favorite goodie in a fun-sized,
reusable jar, but it also includes a
Velvey branded envelope with an
insert card providing detailed
instructions on how to retrieve their
message.
        </p>
    </div>
    <div class="col-md-12">
        <div class="row">
            <img style="margin-bottom:50px"  class="img-responsive img-small" src="https://cdn.shopify.com/s/files/1/0447/4047/7095/files/bg-step4.png?v=1628839916" width="400" />
        </div>

        <div class="col-md-12">
            <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/0447/4047/7095/files/velvey-bg-line_bda63cd8-e638-4f50-a45e-e46627a83973.jpg?v=1628838623" />
        </div>
    </div>
</div>    
      
    <div class="row item-banner">
    <div class="col-md-12">
        <span class="step-bagde"><span class="step-circle">5</span></span>
        <span class="step-heading">"GOT IT" CONFIRMATION</span>
        <p class="step-info">
You want to know your Velvey
arrived, so we make confirmation
easy! When your recipient visits
<a href="message.velvey.com" class="gold-color">message.velvey.com</a>  to enter their
retrieval code, we offer them the
option to let you know they got it. If
they check the box to notify you,
you ll receive a confirmation text
and/or email. 

        </p>
    </div>
    <div class="col-md-12">
        <div class="row">
            <img style="margin-bottom:50px"  class="img-responsive img-small" src="https://cdn.shopify.com/s/files/1/0447/4047/7095/files/bg-step5.png?v=1628840356" width="350" style="margin-bottom:30px" />
        </div>

        <div class="col-md-12">
            <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/0447/4047/7095/files/velvey-bg-line_bda63cd8-e638-4f50-a45e-e46627a83973.jpg?v=1628838623" />
        </div>
    </div>
</div>
     <div class="row item-banner">
    <div class="col-md-12">
        <span class="step-bagde"><span class="step-circle">6</span></span>
        <span class="step-heading">A LITTLE THANK YOU GOES A LONG WAY</span>
        <p class="step-info">
After your recipient reads, listens to,
or watches the message you sent,
they can send you a "thank you"
back the same way – in a written,
audio, or video message. After they
finish and hit "Send", you'll receive a
text/email message with a unique
link and code to access it. We're
pretty sure it's what'll hit you right in
the heartstrings.

        </p>
    </div>
    <div class="col-md-12">
        <div class="row">
            <img  style="margin-bottom:50px" class="img-responsive img-small" src="https://cdn.shopify.com/s/files/1/0447/4047/7095/files/bg-step6.png?v=1628840396" width="350" style="margin-bottom:30px" />
        </div>

        <div class="col-md-12">
            <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/0447/4047/7095/files/velvey-bg-line_bda63cd8-e638-4f50-a45e-e46627a83973.jpg?v=1628838623" />
        </div>
    </div>
</div>     


  
       <div class="row item-banner">

              <div class="col-md-12 text-center">
       <span class="step-heading" style="margin-top:50px;margin-bottom:20px" >NOW GIVE IT A TRY! ...</span>
     
                <a href="" class="btn-velvey"><img src="https://cdn.shopify.com/s/files/1/0447/4047/7095/files/icon_vel.png?v=1628848389" /> Send a Velvey</a>
        
      </div>
      
    </div>
</div>


<style>
  
  .btn-velvey{
      background: #eea822;
    display: block;
    max-width: 250px;
    margin: 0 auto;
    color: #fff !important;
    padding: 10px 0;
    font-weight: bold;
    font-size: 20px;
    border-radius: 18px;
}
  .gold-color{
   color: #eea822 !important;
  }
  .nopadding{
  padding: 0 !important;
  }
.step-circle {
    background: #eea822;
    color: #fff;
    border-radius: 50%;
    width: 60px;
    display: block;
    text-align: center;
    margin: 0 auto;
    height: 60px;
    line-height: 60px;
    font-size: 38px;
    font-weight: bold;
}
  .step-bagde{
    display:block;
    padding:50px 0;
    padding-bottom: 8px;
    
  }
  
  .step-heading{
    display: block;
    font-size: 26px;
    font-weight: 900;
    color: #eea822;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 0;
    padding: 20px 0;
    padding-top:0;
    padding-bottom: 8px;
}
   
  
    .step-info{
    display:block;
    font-size: 16px;
    text-align: center;
          margin-bottom: 35px;
  }
  .normal-letter{
    padding-top:20px;
  font-size:13px;
  } 
  .big-letter{
  font-size:30px;
    color: #db8f16;
    line-height:1;
  }
  
  .bg-main-works{
      max-width: 100%;
    margin: 0 auto;
    display: block;
  }
  
  .item-banner img{
  margin:0 auto;
  }
  .item-banner h3{
  color:#eea822;
    font-weight:bold;
    font-size:25px;
    margin-bottom:20px;
  }
  .item-banner{
    max-width:670px;
    margin: 0 auto;
  margin-bottom:0;
  }
  .item-banner .col-md-6{
  margin-bottom:15px;
  }
  .bg-works-contain{
        display: block;
        max-width: 440px;
    margin: 50px auto;
    text-align: center;
  }
  
  .mobile-show{
  display:none !important;
  }
  .bg-works{
    background: url(https://cdn.shopify.com/s/files/1/0447/4047/7095/files/GOLD_GRADIENT.jpg?v=1598557572);
    background-repeat: no-repeat;
        background-size: contain;
  }
      @media screen and (max-width: 991px) {
        .mobile-hide{
  display:none !important;
  }
      
        .mobile-show{
  display:block !important;
  }
}
    @media screen and (max-width: 768px) {
      
      .img-small{
         max-width: 200px;
      }
      .img-sec2{
        max-width: 150px;
      }
        .img-responsive-ct{
       max-width: 165px;
    position: relative;
    top: -8px;
  }
        .step-heading{
    

}
   
  .bg-works-contain{
  display: block;
    width: 100%;
    margin: 20px auto;
  }
      .bg-works-contain-ct{
      margin-top:35px;
           padding: 0 40px;
      }
        .item-banner{
  margin-bottom:0px;
  }
      .item-banner .col-md-6{
      padding: 10px 20px;
      }
}
  
</style>