{% section 'about-us-title-description' %}
<div class="block-custom-text">
    {{ page.content }}
</div>
{% section 'about-us-team' %}
{% section 'about-us-history' %}
{% section 'about-us-bg-image' %}